extends layout

block content
    div
        header
            h1(style='font-family:"Great Vibes", cursive') Insport Dreams
        main
            section
                h5 we do embroidery
            section#contact-us
                div contact us
                address
                    div
                        a(href='tel:+14163129687') 416-312-9687
                    div
                        a(href='mailto:insportdreams@hotmail.com') insportdreams@hotmail.com
                    div Burlington, Ontario
