doctype html
html(class='no-js', lang='en')
  head
    title Insport Dreams | we do embroidery

    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="description", content="we do embroidery")
    meta(name="keywords", content="embroidery")

    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Great+Vibes")
    link(rel="stylesheet", type="text/css", href="stylesheets/reset.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/components.css")

  body
    block content
